{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Novedades del a침o{% endblock %}

{% block container %}
    {% for new in news %}
        <ul>
            <li>Fecha de atenci칩n: {{ new.fecha | date('d/m/Y') }}</li>
            <li>Paciente: {{ new.nombre }}</li>
            <li>Tipo de atenci칩n: {{ new.tiponov }}</li>
            <li>Referencia: {{ new.enlace }}</li>
        </ul>
        <p>{{ new.ren1 }}</p>
        <hr>
    {% else %}
        <p>No hay novedades este a침o.</p>
    {% endfor %}
{% endblock container %}