{% extends 'base.html.twig' %}

{% if app.session.get('origin') is defined %}
    {% set origin = app.session.get('origin') %}
{% else %}
    {% set origin = 'not-set' %}
{% endif %}

{% block title %}
    {% if (origin == 'pal') %}
        Palmedicina
    {% else %}
        Diagnostico Lanus
    {%  endif %}
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset(origin ~ '/css/styles.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <!-- Page Content -->
    <div class="container">
        {% block container %}
        {% endblock container %}
    </div>

    <!-- Footer -->
    <hr>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
