<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios Online<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('medicalExaminations') }}">Exámenes Médicos</a>
                </li>
                <li>
                    <a href="{{ path('careClinic') }}">Atención en Consultorio</a>
                </li>
                <li>
                    <a href="{{ path('visitingAddress') }}">Visitas a Domicilio</a>
                </li>
                <li>
                    <a href="{{ path('workAccident') }}">Accidentes de Trabajo</a>
                </li>
                <li>
                    <a href="{{ path('satisfactionSurvey') }}">Encuesta de Satisfacción</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informes<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('todayNews') }}">Novedades del Día</a>
                </li>
                <li>
                    <a href="{{ path('monthNews') }}">Novedades del Mes</a>
                </li>
                <li>
                    <a href="{{ path('yearNews') }}">Novedades del Año</a>
                </li>
                <li>
                    <a href="{{ path('medicalStudies') }}">Estudios Médicos</a>
                </li>
                <li>
                    <a href="{{ path('clinicStory') }}">Pacientes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuenta Corriente<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('checkingAccount') }}">Saldos Pendientes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Promociones<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('libretaSanitaria') }}">Libreta Sanitaria</a>
                </li>
                <li>
                    <a href="{{ path('seguridadHigiene') }}">Seguridad e Higiene</a>
                </li>
                <li>
                    <a href="{{ path('cursos') }}">Cursos</a>
                </li>
                <li>
                    <a href="{{ path('examenIngreso') }}">Exámen de Ingreso</a>
                </li>
                <li>
                    <a href="{{ path('servicioOdontologia') }}">Servicio de Odontología</a>
                </li>
                <li>
                    <a href="{{ path('homologacionExamenes') }}">Homologación de Exámenes</a>
                </li>
                <li>
                    <a href="{{ path('asesoramientoLegal') }}">Asesoramiento Legal</a>
                </li>
                <li>
                    <a href="{{ path('diagnosticoLanus') }}">Centro de Diagnóstico Lanús</a>
                </li>
                <li>
                    <a href="{{ path('nuevosClientes') }}">PLAN NUEVOS CLIENTES</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('faq') }}">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a href="{{ path('contactUs') }}">Consultas</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
